.login-body{

    margin:0;

    padding:0;

    font-family:Arial,sans-serif;

    background:#f1f5f9;

    overflow:hidden;

}

.login-page{

    display:flex;

    height:100vh;

    width:100%;

}

.login-right{

    flex:1.7;

    background:

            linear-gradient(

                    rgba(10,15,30,.65),

                    rgba(10,15,30,.75)

            ),

            url("images/login-factory.jpg");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

}

.login-left{

    width:35%;

    background:#f8fafc;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:70px;

}

.login-card{

    width:100%;

    max-width:430px;

    background:white;

    padding:50px;

    border-radius:24px;

    box-shadow:

            0 20px 40px rgba(0,0,0,.08);

}

.login-badge{

    display:inline-block;

    padding:8px 14px;

    background:#e2e8f0;

    border-radius:999px;

    font-size:12px;

    font-weight:700;

    letter-spacing:1px;

    color:#475569;

    margin-bottom:28px;

}

.login-card h2{

    font-size:52px;

    font-weight:800;

    margin:0;

    margin-bottom:15px;

    color:#0f172a;

}

.login-subtitle{

    font-size:17px;

    color:#64748b;

    margin-bottom:35px;

    line-height:1.5;

}

.login-card label{

    display:block;

    font-size:14px;

    font-weight:700;

    margin-bottom:8px;

    color:#334155;

}

.login-card input{

    width:100%;

    padding:16px;

    border:1px solid #cbd5e1;

    border-radius:14px;

    font-size:15px;

    background:#f8fafc;

    margin-bottom:22px;

    box-sizing:border-box;

    transition:.2s;

}

.login-card input:focus{

    outline:none;

    border-color:#2563eb;

    box-shadow:

            0 0 0 4px rgba(37,99,235,.12);

}

.login-btn{

    width:100%;

    padding:16px;

    border:none;

    border-radius:14px;

    background:#16a34a;

    color:white;

    font-size:17px;

    font-weight:700;

    cursor:pointer;

    transition:.2s;

    margin-top:10px;

}

.login-btn:hover{

    background:#15803d;

    transform:translateY(-2px);

}

.error{

    margin-top:20px;

    color:#dc2626;

    font-weight:600;

}

.success-message{

    margin-top:20px;

    color:#16a34a;

    font-weight:600;

}

@media(max-width:1100px){

    .login-right{

        display:none;

    }

    .login-left{

        width:100%;

        padding:40px;

    }

    .login-card{

        max-width:500px;

    }

}

@media(max-width:600px){

    .login-card{

        padding:35px;

    }

    .login-card h2{

        font-size:40px;

    }

}