<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adaser Stok Takip</title>
</head>
<body>
<h1>Adaser Yapı Kimyasalları</h1>
<h2>Stok Takip Otomasyonu</h2>

<a href="/staff/products">Ürünleri Görüntüle</a><br>
<a href="/staff/movements">Stok Hareketleri</a><br>
<a href="/staff/products/critical">Kritik Stoklar</a><br>
<a href="/admin/categories">Kategoriler</a><br>
<a href="/admin/suppliers">Tedarikçiler</a><br>
<a href="/logout">Çıkış Yap</a>
</body>
</html>